.login-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #e3f2fd, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-paper {
  padding: 40px;
  border-radius: 12px;
}

.login-logo-wrapper {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-title {
  margin-bottom: 20px;
  color: #2c3e50;
  font-weight: bold;
}

.login-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-button {
  background-color: #1bbac0 !important;
  color: white !important;
  font-weight: bold;
  padding: 10px;
  margin-top: 16px;
}

.login-link {
  color: #1bbac0;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}
