.order-history-container {
  background: linear-gradient(to bottom, #fffef5, #ffffff);
  /* min-height: 100vh; */
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;  
  right: 0;
}

.order-history-wrapper {
  width: 100%;
  max-width: 1000px; 
   padding: 0 20px; 
}

.order-history-title {
  font-weight: bold;
  color: #12002b;
  margin-bottom: 20px;
  text-align: center;
}

.sort-control {
  width: 300px;
  margin: 0 auto 30px auto;
  display: block;
}

.orders-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-card {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
  width: 100%;
  max-width: 900px;
}

.order-items-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-items-table th,
.order-items-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.order-date,
.order-total {
  font-weight: 500;
  margin-top: 8px;
}
